In [4]:
import urllib
from scipy.io import arff
import urllib.request
import pandas as pd
import numpy as np

In [5]:
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/supermarket.arff'
file_name = 'supermarket.arff'
urllib.request.urlretrieve(data_url, file_name)

('supermarket.arff', <http.client.HTTPMessage at 0x7fa301c5e880>)

In [14]:
data = arff.loadarff('supermarket.arff')
raw_df = pd.DataFrame(data[0])
df = raw_df.astype(bool)

In [16]:
print(df.head())
print(df.tail())

   department1  department2  department3  department4  department5  \
0        False        False        False        False        False
1         True        False        False        False        False
2        False        False        False        False        False
3         True        False        False        False        False
4        False        False        False        False        False

   department6  department7  department8  department9  grocery misc  ...  \
0        False        False        False        False         False  ...
1        False        False        False        False         False  ...
2        False        False        False        False         False  ...
3        False        False        False        False         False  ...
4        False        False        False        False         False  ...

   department208  department209  department210  department211  department212  \
0          False          False          False          False          False
1          False          False          False          False          False
2          False          False          False          False          False
3          False          False          False          False          False
4          False          False          False          False          False

   department213  department214  department215  department216  total
0          False          False          False          False   True
1          False          False          False          False   True
2          False          False          False          False   True
3          False          False          False          False   True
4          False          False          False          False   True

[5 rows x 217 columns]
      department1  department2  department3  department4  department5  \
4622        False        False        False        False        False
4623        False        False        False         True        False
4624        False        False        False        False        False
4625        False        False        False        False        False
4626         True        False        False        False        False

      department6  department7  department8  department9  grocery misc  ...  \
4622        False        False        False        False         False  ...
4623        False        False        False        False         False  ...
4624        False        False        False        False         False  ...
4625        False        False        False        False         False  ...
4626        False        False        False        False         False  ...

      department208  department209  department210  department211  \
4622          False          False          False          False
4623          False          False          False          False
4624          False          False          False          False
4625          False          False          False          False
4626          False          False          False          False

      department212  department213  department214  department215  \
4622          False          False          False          False
4623          False          False          False          False
4624          False          False          False          False
4625          False          False          False          False
4626          False          False          False          False

      department216  total
4622          False   True
4623          False   True
4624          False   True
4625          False   True
4626          False   True

[5 rows x 217 columns]

In [17]:
df.describe()

,department1,department2,department3,department4,department5,department6,department7,department8,department9,grocery misc,...,department208,department209,department210,department211,department212,department213,department214,department215,department216,total
count,4627,4627,4627,4627,4627,4627,4627,4627,4627,4627,...,4627,4627,4627,4627,4627,4627,4627,4627,4627,4627
unique,2,2,2,2,2,2,2,1,2,2,...,1,1,2,2,2,2,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
freq,3580,4496,4537,4543,4452,4625,4560,4627,4545,4449,...,4627,4627,4436,4420,4589,4605,4627,4627,4627,4627

In [18]:
cols_to_drop = ['non host support', 'total']
# Instead of hand writing all the names that start with department, use a loop
for col in df.columns:
  if col.startswith('department'): # choose all the columns which start with the word 'department'
    cols_to_drop.append(col)
print("The folloiwing columns will be dropped:")
print(cols_to_drop)

The folloiwing columns will be dropped:
['non host support', 'total', 'department1', 'department2', 'department3', 'department4', 'department5', 'department6', 'department7', 'department8', 'department9', 'department11', 'department57', 'department70', 'department79', 'department80', 'department81', 'department88', 'department89', 'department98', 'department100', 'department101', 'department102', 'department107', 'department108', 'department109', 'department110', 'department111', 'department112', 'department113', 'department114', 'department116', 'department117', 'department118', 'department119', 'department120', 'department122', 'department123', 'department124', 'department125', 'department126', 'department127', 'department128', 'department129', 'department130', 'department137', 'department138', 'department139', 'department140', 'department141', 'department142', 'department143', 'department144', 'department145', 'department146', 'department147', 'department148', 'department149', 'department150', 'department151', 'department152', 'department153', 'department154', 'department155', 'department156', 'department157', 'department158', 'department159', 'department160', 'department161', 'department162', 'department163', 'department164', 'department165', 'department166', 'department167', 'department168', 'department169', 'department170', 'department171', 'department172', 'department173', 'department174', 'department175', 'department176', 'department177', 'department178', 'department179', 'department189', 'department192', 'department193', 'department194', 'department195', 'department196', 'department197', 'department198', 'department199', 'department201', 'department202', 'department203', 'department204', 'department205', 'department206', 'department207', 'department208', 'department209', 'department210', 'department211', 'department212', 'department213', 'department214', 'department215', 'department216']

In [19]:
df = df.drop(columns=cols_to_drop)

In [21]:
df.head()

,grocery misc,baby needs,bread and cake,baking needs,coupons,juice-sat-cord-ms,tea,biscuits,canned fish-meat,canned fruit,...,casks red wine,750ml white nz,750ml red nz,750ml white imp,750ml red imp,sparkling nz,sparkling imp,brew kits/accesry,port and sherry,ctrled label wine
0,False,True,True,True,False,True,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,False,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,True,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
df.describe()

,grocery misc,baby needs,bread and cake,baking needs,coupons,juice-sat-cord-ms,tea,biscuits,canned fish-meat,canned fruit,...,casks red wine,750ml white nz,750ml red nz,750ml white imp,750ml red imp,sparkling nz,sparkling imp,brew kits/accesry,port and sherry,ctrled label wine
count,4627,4627,4627,4627,4627,4627,4627,4627,4627,4627,...,4627,4627,4627,4627,4627,4627,4627,4627,4627,4627
unique,2,2,2,2,1,2,2,2,2,2,...,2,2,2,2,2,2,2,1,2,1
top,False,False,True,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,4449,4008,3330,2795,4627,2463,3731,2605,3686,3344,...,4576,4346,4536,4528,4530,4498,4604,4627,4602,4627

In [ ]:
## 3 Select the Apriori algorithm

# Apriori algorithm  with `minsup = 0.2` and `minconf = 0.8`

# - The numbers of frequent 2-itemsets, and 3-itemsets.
# - The best three rules with largest confidence.

In [23]:
from mlxtend.frequent_patterns import apriori, association_rules

In [24]:
ap_itemsets = apriori(df,
                      min_support=0.2,  
                      use_colnames=True)

In [25]:
ap_itemsets

      support                                           itemsets
0    0.719689                                   (bread and cake)
1    0.604063                                     (baking needs)
2    0.532310                                (juice-sat-cord-ms)
3    0.563000                                         (biscuits)
4    0.203372                                 (canned fish-meat)
..        ...                                                ...
541  0.224552        (frozen foods, biscuits, fruit, vegetables)
542  0.219365          (biscuits, fruit, vegetables, milk-cream)
543  0.228442      (frozen foods, fruit, vegetables, milk-cream)
544  0.202939  (baking needs, bread and cake, milk-cream, fru...
545  0.200778  (biscuits, bread and cake, frozen foods, fruit...

[546 rows x 2 columns]

In [32]:
def find_k(row):
  """Return the number of items in the itemset"""
  return len(row['itemsets'])

# Create a new column which counts the number of items in the itemset
ap_itemsets['k'] = ap_itemsets.apply(find_k, # Apply the function `find_k`
                                     axis=1) # apply the function to each row

In [33]:
ap_itemsets

      support                                           itemsets  k
0    0.719689                                   (bread and cake)  1
1    0.604063                                     (baking needs)  1
2    0.532310                                (juice-sat-cord-ms)  1
3    0.563000                                         (biscuits)  1
4    0.203372                                 (canned fish-meat)  1
..        ...                                                ... ..
541  0.224552        (frozen foods, biscuits, fruit, vegetables)  4
542  0.219365          (biscuits, fruit, vegetables, milk-cream)  4
543  0.228442      (frozen foods, fruit, vegetables, milk-cream)  4
544  0.202939  (baking needs, bread and cake, milk-cream, fru...  5
545  0.200778  (biscuits, bread and cake, frozen foods, fruit...  5

[546 rows x 3 columns]

In [35]:
k2_itemsets = np.sum(ap_itemsets['k'] == 2) # count the number of rows where k=2
k3_itemsets = np.sum(ap_itemsets['k'] == 3) # count the number of rows where k=3
print(f"There are {k2_itemsets} itemsets with k=2")
print(f"There are {k3_itemsets} itemsets with k=3")
print(f"there are total {k2_itemsets} and {k3_itemsets} for our requirement")

There are 182 itemsets with k=2
There are 252 itemsets with k=3
there are total 182 and 252 for our requirement

In [41]:
ap_itemsets.head()
ap_itemsets.nlargest(10,"support")

     support                      itemsets  k
0   0.719689              (bread and cake)  1
28  0.640156                       (fruit)  1
29  0.639939                  (vegetables)  1
23  0.635185                  (milk-cream)  1
1   0.604063                (baking needs)  1
12  0.587206                (frozen foods)  1
3   0.563000                    (biscuits)  1
2   0.532310           (juice-sat-cord-ms)  1
51  0.505079  (milk-cream, bread and cake)  2
16  0.503566           (party snack foods)  1

In [42]:
ap_rules = association_rules(ap_itemsets,
                             metric='confidence',
                             min_threshold=0.8)

In [43]:
ap_rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(canned fruit),(bread and cake),0.277285,0.719689,0.224768,0.810600,1.126320,0.025208,1.479997,0.155183
1,(jams-spreads),(bread and cake),0.276205,0.719689,0.221958,0.803599,1.116593,0.023177,1.427242,0.144265
2,(margarine),(bread and cake),0.494489,0.719689,0.395721,0.800262,1.111956,0.039843,1.403396,0.199172
3,(small goods),(bread and cake),0.241193,0.719689,0.201426,0.835125,1.160398,0.027843,1.700148,0.182163
4,"(biscuits, baking needs)",(bread and cake),0.381241,0.719689,0.314675,0.825397,1.146880,0.040300,1.605419,0.206978

In [44]:
ap_rules.sort_values("confidence",ascending= False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
179,"(frozen foods, biscuits, vegetables, fruit)",(bread and cake),0.224552,0.719689,0.200778,0.894129,1.242383,0.039171,2.647667,0.251590
139,"(fruit, biscuits, margarine)",(bread and cake),0.231900,0.719689,0.202723,0.874185,1.214670,0.035828,2.227955,0.230089
132,"(frozen foods, fruit, biscuits)",(bread and cake),0.282905,0.719689,0.247028,0.873186,1.213282,0.043425,2.210406,0.245141
138,"(biscuits, vegetables, milk-cream)",(bread and cake),0.267128,0.719689,0.232332,0.869741,1.208496,0.040083,2.151954,0.235410
117,"(baking needs, fruit, margarine)",(bread and cake),0.244003,0.719689,0.212016,0.868911,1.207342,0.036410,2.138320,0.227163
...,...,...,...,...,...,...,...,...,...,...
154,"(frozen foods, vegetables, bread and cake)",(fruit),0.334558,0.640156,0.268424,0.802326,1.253329,0.054255,1.820389,0.303745
153,"(frozen foods, fruit, bread and cake)",(vegetables),0.334558,0.639939,0.268424,0.802326,1.253752,0.054328,1.821483,0.304150
91,"(vegetables, breakfast food)",(fruit),0.275989,0.640156,0.221310,0.801879,1.252632,0.044634,1.816290,0.278561
173,"(frozen foods, vegetables, milk-cream)",(fruit),0.285066,0.640156,0.228442,0.801365,1.251828,0.045955,1.811583,0.281380
2,(margarine),(bread and cake),0.494489,0.719689,0.395721,0.800262,1.111956,0.039843,1.403396,0.199172

In [ ]:
#findings for approx 90% confidence
# 1)people who buy forzen food, biscuits, vegetables and fruits would also buy bread and cake.
# 2)People who buy fruits, biscuits, and margarine would also buy bread and cake.
# 3)People who buy frozen foods, fruits and biscuits would buy bread and cake.

In [ ]:
# ## 4 Boost fruit sales
# The supermarket manager wishes to boost the sale of fruit and therefore the manager needs to know other itemsets most likely be purchased with fruit to make promotion decisions.
#   - Using the same minimum support and minimum confidence value.
#   - List the top three itemsets to report to the supermarket manager.

In [55]:
# choose all the rules wihch have "fruit" (not canned fruit) as the consquent
fruit_rules = ap_rules[ap_rules.consequents == frozenset(['fruit'])]

fruit_rules.sort_values('confidence',  # sort based on 'confidence'
                        ascending=False).head(3) # choose the top 3 only

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
178,"(frozen foods, biscuits, vegetables, bread and...",(fruit),0.242057,0.640156,0.200778,0.829464,1.295723,0.045824,2.110082,0.301118
172,"(biscuits, vegetables, milk-cream)",(fruit),0.267128,0.640156,0.219365,0.821197,1.282809,0.048361,2.012523,0.300817
141,"(biscuits, vegetables, bread and cake)",(fruit),0.321375,0.640156,0.262805,0.817754,1.277430,0.057076,1.974497,0.320027

In [ ]:
#using FP-growth

In [56]:
from mlxtend.frequent_patterns import fpgrowth

In [58]:
fp_itemsets = fpgrowth(df,
                       min_support=0.2, # choose the minimum support
                       use_colnames=True)
fp_itemsets

      support                                     itemsets
0    0.719689                             (bread and cake)
1    0.640156                                      (fruit)
2    0.639939                                 (vegetables)
3    0.635185                                 (milk-cream)
4    0.604063                               (baking needs)
..        ...                                          ...
541  0.205965  (soft drinks, baking needs, bread and cake)
542  0.209423      (biscuits, soft drinks, bread and cake)
543  0.219365  (frozen foods, soft drinks, bread and cake)
544  0.210720    (vegetables, soft drinks, bread and cake)
545  0.203588             (vegetables, fruit, soft drinks)

[546 rows x 2 columns]

In [59]:
fp_rules = association_rules(fp_itemsets,
                             metric='confidence',
                             min_threshold=0.8) # choose the minimum confidence

In [60]:
# Select the top 10 confident rules from each of our algorithms
fp_top_10 = fp_rules.sort_values('confidence', ascending=False).head(10)
ap_top_10 = ap_rules.sort_values('confidence', ascending=False).head(10)

In [61]:
print("FP-Growth rules")
fp_top_10

FP-Growth rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
46,"(frozen foods, biscuits, vegetables, fruit)",(bread and cake),0.224552,0.719689,0.200778,0.894129,1.242383,0.039171,2.647667,0.251590
101,"(fruit, biscuits, margarine)",(bread and cake),0.231900,0.719689,0.202723,0.874185,1.214670,0.035828,2.227955,0.230089
31,"(frozen foods, fruit, biscuits)",(bread and cake),0.282905,0.719689,0.247028,0.873186,1.213282,0.043425,2.210406,0.245141
49,"(biscuits, vegetables, milk-cream)",(bread and cake),0.267128,0.719689,0.232332,0.869741,1.208496,0.040083,2.151954,0.235410
93,"(baking needs, fruit, margarine)",(bread and cake),0.244003,0.719689,0.212016,0.868911,1.207342,0.036410,2.138320,0.227163
42,"(frozen foods, biscuits, vegetables)",(bread and cake),0.278798,0.719689,0.242057,0.868217,1.206378,0.041409,2.127067,0.237205
94,"(fruit, margarine, milk-cream)",(bread and cake),0.237087,0.719689,0.205749,0.867821,1.205829,0.035120,2.120699,0.223741
34,"(frozen foods, biscuits, milk-cream)",(bread and cake),0.271234,0.719689,0.235358,0.867729,1.205700,0.040154,2.119220,0.234103
40,"(biscuits, vegetables, fruit)",(bread and cake),0.303436,0.719689,0.262805,0.866097,1.203432,0.044426,2.093388,0.242682
88,"(milk-cream, baking needs, margarine)",(bread and cake),0.246812,0.719689,0.213313,0.864273,1.200899,0.035685,2.065261,0.222110

In [62]:
print("Apriori rules")
ap_top_10

Apriori rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
179,"(frozen foods, biscuits, vegetables, fruit)",(bread and cake),0.224552,0.719689,0.200778,0.894129,1.242383,0.039171,2.647667,0.251590
139,"(fruit, biscuits, margarine)",(bread and cake),0.231900,0.719689,0.202723,0.874185,1.214670,0.035828,2.227955,0.230089
132,"(frozen foods, fruit, biscuits)",(bread and cake),0.282905,0.719689,0.247028,0.873186,1.213282,0.043425,2.210406,0.245141
138,"(biscuits, vegetables, milk-cream)",(bread and cake),0.267128,0.719689,0.232332,0.869741,1.208496,0.040083,2.151954,0.235410
117,"(baking needs, fruit, margarine)",(bread and cake),0.244003,0.719689,0.212016,0.868911,1.207342,0.036410,2.138320,0.227163
133,"(frozen foods, biscuits, vegetables)",(bread and cake),0.278798,0.719689,0.242057,0.868217,1.206378,0.041409,2.127067,0.237205
163,"(fruit, margarine, milk-cream)",(bread and cake),0.237087,0.719689,0.205749,0.867821,1.205829,0.035120,2.120699,0.223741
130,"(frozen foods, biscuits, milk-cream)",(bread and cake),0.271234,0.719689,0.235358,0.867729,1.205700,0.040154,2.119220,0.234103
140,"(biscuits, vegetables, fruit)",(bread and cake),0.303436,0.719689,0.262805,0.866097,1.203432,0.044426,2.093388,0.242682
114,"(milk-cream, baking needs, margarine)",(bread and cake),0.246812,0.719689,0.213313,0.864273,1.200899,0.035685,2.065261,0.222110